@charset "utf-8";

.tab-menu {
    border-bottom: 1px solid #D6D6D6;

    > ul {
        &::after {
            @include clearFix;
        }

        > li {
            float: left;

            > a {
                display: block;
                position: relative;
                transition: .3s ease;
                padding: 0 5px 6px;
                color: #959595;

                &.active::after, &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -3px;
                    transition: .3s ease;
                    transform: translateX(-50%);
                    width: 0;
                    height: 5px;
                    overflow: hidden;
                    border-radius: 10px;
                    background: #F17C91;
                }

                &.active, &:hover {
                    color: #646464;

                    &::after {
                        width: 100%;
                    }
                }
            }

            &:not(:last-child) {
                margin-right: 26px;
            }
        }
    }
}